{{!-- bigIconTextSettings settings:
        disableWholeAreaLink = true/false (by deafalt false);
        btnAsLink = true/false (by deafalt false);
        buttonLink = "" (set href to the element);
        header = "" (set element heading);
        text = "" (set text content to element);
        buttonName = "" (set button or link name);
        bigTopIcon = "" (set class name to element icon);
--}}

<div class="big-icon-text-btn__wrp">
    <div class="big-icon-text-btn{{#if this.disableWholeAreaLink}}{{else}} _whole-area-link{{/if}}">
        {{#if this.bigTopIcon}}
            <span class="big-icon-text-btn__icon icons icon-{{bigTopIcon}}"></span>
        {{/if}}
        {{#if this.header}}
            <h3 class="big-icon-text-btn__header">{{header}}</h3>
        {{/if}}
        {{#if this.text}}
            <p class="big-icon-text-btn__p">{{text}}</p>
        {{/if}}
        {{#if this.buttonName}}
            <a class="big-icon-text-btn__link {{#if this.btnAsLink}}{{else}}btn btn-default {{/if}}" title="{{buttonName}}" href="{{#if this.buttonLink}}{{buttonLink}}{{else}}#{{/if}}">{{buttonName}}</a>
        {{/if}}
        {{#if this.disableWholeAreaLink}}{{else}}
            <span class="big-icon-text-btn__sham-link {{#if this.btnAsLink}}{{else}}btn btn-default {{/if}}">{{buttonName}}</span>
        {{/if}}
    </div>
</div>
