{{!-- imageTextLink settings:
        disableWholeAreaLink = true/false (by deafalt false);
        imgSrc = "" (set 'src' for image);
        imgLink = "" (set link to the image);
        header = "" (set element heading);
        text = "" (set text content to element);
        linkAsBtn = true/false (by deafalt false);
        link = "" (set href to the element);
        linkName = "" (set button or link name);
        hoverEffect = "" (set class for hover effect,
                        can be: _hover-1, _hover-2, , _hover-3, _hover-4, _hover-5,
                        _hover-6, _hover-7, _hover-8, _hover-9);
--}}

<div class="img-text-link__wrp">
    <div class="img-text-link{{#if this.disableWholeAreaLink}}{{else}} _whole-area-link{{/if}} {{#if this.hoverEffect}}{{this.hoverEffect}}{{/if}}">
        {{#if this.imgSrc}}
            {{#if this.imgLink}}
                <a class="img-text-link__img-link" title="{{imgLink}}" href="{{imgLink}}">
                    <img class="img-text-link__img img-responsive" src="{{imgSrc}}" alt="foto">
                </a>
            {{else}}
                <img class="img-text-link__img img-responsive" src="{{imgSrc}}" alt="foto">
            {{/if}}
        {{/if}}
        {{#if this.header}}
            <h3 class="img-text-link__header">{{header}}</h3>
        {{/if}}
        {{#if this.text}}
            <p class="img-text-link__p {{#if this.hoverEffect}}js__img-text-link{{/if}}">{{text}}</p>
        {{/if}}
        {{#if this.linkName}}
            <a class="img-text-link__link {{#if this.linkAsBtn}}btn btn-default {{/if}}" title="{{linkName}}" href="{{#if this.link}}{{link}}{{else}}#{{/if}}">{{linkName}}</a>
        {{/if}}
        {{#if this.disableWholeAreaLink}}{{else}}
            {{#if this.hoverEffect}}{{else}}
                <span class="img-text-link__sham-link {{#if this.linkAsBtn}}btn btn-default {{/if}}">{{linkName}}</span>
            {{/if}}
        {{/if}}
    </div>
</div>
