---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: Home #title in menu
position: 1 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

<div class="top-content">
    {{>slider}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="pie-chart"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="screen"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="rocket"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
    </div>
</div>


<div class="blue-mountain-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="pie-chart"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=false
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="screen"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=false
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="rocket"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=false
                }}
            </div>
        </div>
    </div>
</div>

<div class="parallax parallax-video" data-jarallax-video="https://www.youtube.com/watch?v=lu2oSpoRp60" style=" background-image: url('images/slider_image.jpg'); height:auto;">
    <div class="inverse">
    <div id="c181" class="container ">
        <div class="row">
            <div class="col1  col-md-8 one-column-align-center">
                <div class="blue-mountain-header margin-top-50">
                    <div id="c183" class="text-center ">
                        <h2>Lorem ipsum dolor sit amet markum</h2>
                    </div>
                </div>
                <div class="margin-bottom-30">
                    <div id="c183" class="text-center">
                        <div class="ce-textpic ce-right ce-intext">
                            <div class="ce-bodytext">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image1.jpg"
                imgLink='#'
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=true
                disableWholeAreaLink=false
                hoverEffect="_hover-1"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image2.jpg"
                imgLink=false
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=true
                disableWholeAreaLink=false
                hoverEffect="_hover-1"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image3.jpg"
                imgLink='#'
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=true
                disableWholeAreaLink=false
                hoverEffect="_hover-1"
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ renderContent 'divider'
                icon="devices"
            }}
        </div>
    </div>
</div>



<div class="parallax parallax-img" style="background-image: url('images/parallax_image.jpg'); height:auto;">

<div class="inverse">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="laptop-phone"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="map"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="picture"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
    </div>
</div>
</div>
</div>






<div class="gray-background">
        <div class="container mosaic-gray-even">
            <div class="row">
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="rocket"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                        wholeAreaLink="#background-link"
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="users"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="tablet"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                    }}
                </div>
            </div>
        </div>
</div>

<div class="gray-background">
        <div class="container mosaic-gray-odd">
            <div class="row">
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="pie-chart"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                        wholeAreaLink="#background-link"
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="rocket"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="map"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=false
                    }}
                </div>
            </div>
        </div>
</div>






<div class="gray-background">
        <div class="container mosaic-blue-mountain-odd">
            <div class="row">
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="users"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=true
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="laptop-phone"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=true
                    }}
                </div>
                <div class="col-md-4">
                    {{ renderContent 'iconTextButton'
                        headerLeftIcon="map"
                        header="Content element 1"
                        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                        buttonName="READ MORE"
                        btnAsLink=true
                    }}
                </div>
            </div>
        </div>
</div>

<div class="gray-background">
    <div class="container mosaic-blue-mountain-even">
        <div class="row">
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="picture"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=true
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="rocket"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=true
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'iconTextButton'
                    headerLeftIcon="users"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=true
                }}
            </div>
        </div>
    </div>
</div>


<div class="blue-mountain-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ renderContent 'bigIconTextButton'
                    bigTopIcon="tablet"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=false
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'bigIconTextButton'
                    bigTopIcon="pie-chart"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=true
                }}
            </div>
            <div class="col-md-4">
                {{ renderContent 'bigIconTextButton'
                    bigTopIcon="screen"
                    header="Content element 1"
                    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                    buttonName="READ MORE"
                    btnAsLink=false
                    disableWholeAreaLink=false
                }}
            </div>
        </div>
    </div>
</div>


<div class="parallax parallax-img" style="background-image: url('images/parallax_image.jpg'); height:auto;">
    <div class="saturated-inverse">
    <div id="c177" class="container ">
        <div class="row">
            <div class="col1  col-md-8 one-column-align-center">
                <div class="blue-mountain-header margin-top-50">
                <div id="c178" class=" text-center">
                    <header>
                        <h2>Lorem ipsum dolor sit amet markum set</h2>
                        <h3>Full width section with text, link and parallax background image</h3>
                    </header>
                </div>
                </div>
                {{ renderContent 'divider'
                    icon="earth"
                }}
                <div id="c180" class=" text-center">
                    <div class="ce-textpic ce-right ce-intext">
                        <div class="ce-bodytext">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class=" margin-top-10 margin-bottom-40">
                    <div id="c181" class="text-center">
                        <a href="/" class="btn btn-default">LOREM IPSUM DOLOR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="container mosaic-blue-mountain-odd">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="gift"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=true
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="briefcase"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=true
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="cart"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=true
                disableWholeAreaLink=false
            }}
        </div>
    </div>
</div>

<div class="col-bg-img" style="background-image: url('images/bottom-image.jpg')">
    <div class="inverse ">
    <div id="c181" class="container ">
        <div class="row">
            <div class="col1  col-md-8 one-column-align-center">
                <div class="blue-mountain-header">
                    <div id="c183" class="text-center ">
                        <h2>Lorem ipsum dolor sit amet markum</h2>
                    </div>
                </div>
                <div id="c183" class="text-center">
                    <div class="ce-textpic ce-right ce-intext">
                        <div class="ce-bodytext">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="blue-mountain-wrp">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image1.jpg"
                imgLink="#"
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=false
                wholeAreaLink="#background-link"
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image2.jpg"
                imgLink="#"
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'imageTextLink'
                imgSrc="images/spot_image3.jpg"
                imgLink="#"
                header="Promo Image, text & link"
                text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt."
                linkName="Lorem Ipsum Dolor"
                linkAsBtn=false
            }}
        </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="cloud-check"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
                disableWholeAreaLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="earth"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=true
                disableWholeAreaLink=true
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'bigIconTextButton'
                bigTopIcon="film-play"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=true
                disableWholeAreaLink=true
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ renderContent 'divider'
                icon="bicycle"
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="film-play"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="laptop-phone"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
            }}
        </div>
        <div class="col-md-4">
            {{ renderContent 'iconTextButton'
                headerLeftIcon="gift"
                header="Content element 1"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
                buttonName="READ MORE"
                btnAsLink=false
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{>newsCarousel}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
        {{ renderContent 'quote'
                text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                name="John Doe"
                title="VP of Marketing"
                linkText="Royal Trader"
            }}
        </div>
        <div class="col-md-6">
            {{ renderContent 'quote'
                    text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
                    name="John Doe"
                    title="VP of Marketing"
                    linkText="Royal Trader"
            }}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ renderContent 'divider'
                icon=false
            }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class=" margin-top-30 margin-bottom-50">
                {{>logoCarousel}}
            </div>
        </div>
    </div>
</div>



{{ renderContent 'parallax'
        imgSrc="images/parallax_image.jpg"
        videoLink=false
        hideInMobile=true
        height="auto"
        elements='
            <div class="saturated-inverse ">
            <div id="c182" class="container ">
                <div class="row">
                    <div class="col1  col-md-8">
                        <div class="blue-mountain-header ">
                        <div id="c183" class=" ">
                            <h2>Lorem ipsum dolor sit amet markum</h2>
                        </div>
                        </div>
                        <div id="c183" class=" ">
                            <h4>Full width section with text, link and parallax background image</h4>
                        </div>
                    </div>
                    <div class="col2 col-md-3">
                        <div class=" margin-top-50">
                        <div id="c184" class="text-center">
                            <a href="/" class="btn btn-default">Lorem ipsum dolor</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        '
}}
