<div class="breadcrumbs">
    <div class="breadcrumbs__wrp container">
        <ol class="breadcrumbs__list">
            <li class="breadcrumbs__list-item"><span class="icons icon-t3-home"></span><a class="breadcrumbs__list-link" href="index.html"><span>Home</span></a></li>

            {{#forEach pages }}

                {{#if ../page.parent1}}
                    {{#is menuLevel 1}}
                        {{#is ../../../page.parent1 basename}}
                            {{#is data.hideInBreadcrumbs false}}
                                <li class="breadcrumbs__list-item"><a class="breadcrumbs__list-link" href="{{basename}}.html"><span>{{capitalizeFirst data.title}}</span></a></li>
                            {{/is}}
                        {{/is}}
                    {{/is}}
                {{/if}}

                {{#if ../page.parent2}}
                    {{#is menuLevel 2}}
                        {{#is ../../../page.parent2 basename}}
                            {{#is data.hideInBreadcrumbs false}}
                                <li class="breadcrumbs__list-item"><a class="breadcrumbs__list-link" href="{{basename}}.html"><span>{{capitalizeFirst data.title}}</span></a></li>
                            {{/is}}
                        {{/is}}
                    {{/is}}
                {{/if}}

                {{#if ../page.parent3}}
                    {{#is menuLevel 3}}
                        {{#is ../../../page.parent3 basename}}
                            {{#is data.hideInBreadcrumbs false}}
                                <li class="breadcrumbs__list-item"><a class="breadcrumbs__list-link" href="{{basename}}.html"><span>{{capitalizeFirst data.title}}</span></a></li>
                            {{/is}}
                        {{/is}}
                    {{/is}}
                {{/if}}

                {{#if ../page.parent4}}
                    {{#is menuLevel 4}}
                        {{#is ../../../page.parent4 basename}}
                            {{#is data.hideInBreadcrumbs false}}
                                <li class="breadcrumbs__list-item"><a class="breadcrumbs__list-link" href="{{basename}}.html"><span>{{capitalizeFirst data.title}}</span></a></li>
                            {{/is}}
                        {{/is}}
                    {{/is}}
                {{/if}}

            {{/forEach}}

            {{#is page.data.hideInBreadcrumbs false}}
            <li  class="breadcrumbs__list-item _active"><span>{{title}}</span></li>
            {{/is}}
        </ol>
    </div>
</div>
