{{#is this.showHeaderTop "false"}}
    <button type="button" class="main-navigation__toggle-btn js__main-navigation__toggle-btn" >
        <span>toggle menu</span>
    </button>
{{/is}}

{{#if this.dropdownMenuWithColumns}}
<nav class="main-navigation js__main-navigation _dropdown-menu-with-columns js__dropdown-menu-with-columns">
    <div class="main-navigation__items-wrp js__navigation__items-wrp">
        <ul class="main-navigation__items-list js__main-navigation__items-list">
            {{> dropdownMenuWithColumns}}
        </ul>
    </div>
</nav>

{{else}}

<nav class="main-navigation js__main-navigation">
    <div class="main-navigation__items-wrp js__navigation__items-wrp">
        <ul class="main-navigation__items-list js__main-navigation__items-list">

            {{!add navigation data}}
            {{!grunt/helpers/helper-addNavData.js) }}
            {{addNavData}}

            {{!display main menu}}
            {{!grunt/helpers/helper-mainMenu_firstLevel.js) }}
            {{~#mainMenu_firstLevel pages~}}

                {{!if subpages exists}}
                {{~#if subpages~}}
                    <li class="main-navigation__item js__main-navigation__item {{#is ../../this.navDropdown 'true' }}_sub {{/is}} {{#if this.isCurrentPage}} _active{{/if}}
                    {{!add "active" class if some of children also active}}
                    {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                    {{~#ifChildrensActive_addClass ../../pages ~}}
                        _active
                    {{~/ifChildrensActive_addClass~}}">

                        {{~#is data.externalLink false~}}
                            <a  href="{{basename}}.html" class="main-navigation__item-link js__main-navigation__item-link" >{{data.title}}</a>
                        {{~else~}}
                            <a  href="{{data.externalLink}}" class="main-navigation__item-link js__main-navigation__item-link" >{{data.title}}</a>
                        {{~/is~}}
                        <a href="{{basename}}.html" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a>

                        <ul class="main-navigation__sub-item-list {{#is ../../this.navThirdLevel 'true' }} second-navigation-level {{/is}} ">

                            {{!build sub menu level 2}}
                            {{!grunt/helpers/helper-submenu.js}}
                            {{~#subMenu ../../pages 2~}}
                                <li class="main-navigation__sub-item {{#if this.isCurrentPage}} _active{{/if}} {{#is ../../../this.navThirdLevel 'true' }}_sub {{/is}}
                                {{!add "active" class if some of children also active}}
                                {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                {{~#ifChildrensActive_addClass ../../../pages ~}}
                                    _active
                                {{~/ifChildrensActive_addClass~}}">
                                    {{~#is data.externalLink false~}}
                                        <a class="main-navigation__sub-item-link" href="{{basename}}.html">{{data.title}}</a>
                                    {{~else~}}
                                        <a class="main-navigation__sub-item-link" href="{{data.externalLink}}">{{data.title}}</a>
                                    {{~/is~}}

                                    {{!@TODO need some more conditions here to check for subpages}}
                                    {{#is ../../../this.navThirdLevel 'true' }}
                                        <a href="{{basename}}.html" class="main-navigation__open-sub-menu-link js__main-navigation__open-third-menu-link">Open</a>

                                        <ul class="main-navigation__sub-item-list third-navigation-level">
                                            {{!build sub menu level 3}}
                                            {{!grunt/helpers/helper-submenu.js}}
                                            {{~#subMenu ../../../../pages 3~}}
                                                <li class="main-navigation__sub-item {{#if this.isCurrentPage}} _active{{/if}}
                                                    {{!add "active" class if some of children also active}}
                                                    {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                                    {{~#ifChildrensActive_addClass ../../../../../pages ~}}
                                                            _active
                                                        {{~/ifChildrensActive_addClass~}}">
                                                    {{~#is data.externalLink false~}}
                                                        <a class="main-navigation__sub-item-link" href="{{basename}}.html">{{data.title}}</a>
                                                        {{~else~}}
                                                        <a class="main-navigation__sub-item-link" href="{{data.externalLink}}">{{data.title}}</a>
                                                    {{~/is~}}
                                                </li>
                                            {{~/subMenu~}}
                                        </ul>
                                    {{~/is~}}
                                </li>
                            {{~/subMenu~}}

                        </ul>
                    </li>

                {{!if no subpages}}
                {{~else~}}
                    <li class="main-navigation__item js__main-navigation__item {{#if this.isCurrentPage}}_active{{/if}}">
                        {{~#is data.externalLink false~}}
                            <a class="main-navigation__item-link" href="{{basename}}.html">{{data.title}}</a>
                        {{~else~}}
                            <a class="main-navigation__item-link" href="{{data.externalLink}}">{{data.title}}</a>
                        {{~/is~}}
                    </li>
                {{~/if~}}

            {{~/mainMenu_firstLevel~}}

            {{#is this.showMainNavSearch "true"}}
                <form action="/solr.html" accept-charset="utf-8">
                    <div class="main-navigation__search-btn-wrp">
                        <a class="main-navigation__search-btn js__main-navigation__search-btn" href="">Search<span></span></a>
                    </div>
                    <div class="main-navigation__search-box js__main-navigation__search-box" ><input data-search="searchSuggest" placeholder="Search..." type="search"></div>
                </form>
            {{/is}}
        </ul>
    </div>
</nav>
{{/if}}
