<div class="sub-navigation">
    <div class="sub-navigation__wrp">
        <ul class="sub-navigation__item-list _sub-list-level-2">
            {{!add navigation data}}
            {{!grunt/helpers/helper-addNavData.js) }}
            {{addNavData}}

            {{!build sub menu level 2}}
            {{!grunt/helpers/helper-submenu.js}}
            {{~#subMenu pages 2~}}
                <li class="sub-navigation__item">
                    <a href="{{basename}}.html" class="sub-navigation__link _sub-level-2 {{#if this.isCurrentPage}} _active _curent{{/if}}
                    {{!add "active" class if some of children also active}}
                    {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                    {{~#ifChildrensActive_addClass ../pages ~}}
                    _active _open
                    {{~/ifChildrensActive_addClass~}}">
                        {{data.title}}
                    </a>
                    <ul class="sub-navigation__item-list _sub-list-level-3">
                        {{!build sub menu level 3}}
                        {{!grunt/helpers/helper-submenu.js}}
                        {{~#subMenu ../pages 3 ~}}
                            <li class="sub-navigation__item">
                                <a  href="{{basename}}.html" class="sub-navigation__link _sub-level-3 {{#if this.isCurrentPage}} _active _curent {{/if}}
                                {{!add "active" class if some of children also active}}
                                {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                {{~#ifChildrensActive_addClass ../../pages ~}}
                                _active _open
                                {{~/ifChildrensActive_addClass~}}">
                                    {{data.title}}
                                </a>
                                <ul class="sub-navigation__item-list _sub-list-level-4">
                                    {{!build sub menu level 4}}
                                    {{!grunt/helpers/helper-submenu.js}}
                                    {{~#subMenu ../../pages 4~}}
                                        <li class="sub-navigation__item">
                                            <a  href="{{basename}}.html" class="sub-navigation__link _sub-level-4 {{#if this.isCurrentPage}} _active _curent {{/if}}
                                            {{!add "active" class if some of children also active}}
                                            {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                            {{~#ifChildrensActive_addClass ../../../pages ~}}
                                            _active _open
                                            {{~/ifChildrensActive_addClass~}}">
                                                {{data.title}}
                                            </a>
                                            <ul class="sub-navigation__item-list _sub-list-level-5">
                                                <li class="sub-navigation__item">
                                                    {{!build sub menu level 5}}
                                                    {{!grunt/helpers/helper-submenu.js}}

                                                    {{~#subMenu ../../../pages 5~}}
                                                        <a  href="{{basename}}.html" class="sub-navigation__link _sub-level-5 {{#if this.isCurrentPage}} _active _curent {{/if}}
                                                        {{!add "active" class if some of children also active}}
                                                        {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                                        {{~#ifChildrensActive_addClass ../../../../pages ~}}
                                                        _active _open
                                                        {{~/ifChildrensActive_addClass~}}">
                                                            {{data.title}}
                                                        </a>

                                                        <ul class="sub-navigation__item-list _sub-list-level-6">
                                                            {{!build sub menu level 6}}
                                                            {{!grunt/helpers/helper-submenu.js}}
                                                            {{~#subMenu ../../../../pages 6~}}
                                                                <li class="sub-navigation__item">
                                                                    <a  href="{{basename}}.html" class="sub-navigation__link _sub-level-6 {{#if this.isCurrentPage}} _active _curent {{/if}}
                                                                    {{!add "active" class if some of children also active}}
                                                                    {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                                                    {{~#ifChildrensActive_addClass ../../../../../pages ~}}
                                                                    _active _open
                                                                    {{~/ifChildrensActive_addClass~}}">
                                                                        {{data.title}}
                                                                    </a>

                                                                    <ul class="sub-navigation__item-list _sub-list-level-7">
                                                                        {{!build sub menu level 7}}
                                                                        {{!grunt/helpers/helper-submenu.js}}
                                                                        {{~#subMenu ../../../../../pages 7~}}
                                                                            <li class="sub-navigation__item">
                                                                                <a  href="{{basename}}.html" class="sub-navigation__link _sub-level-7 {{#if this.isCurrentPage}} _active _curent {{/if}}
                                                                                {{!add "active" class if some of children also active}}
                                                                                {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                                                                {{~#ifChildrensActive_addClass ../../../../../../pages ~}}
                                                                                _active _open
                                                                                {{~/ifChildrensActive_addClass~}}">
                                                                                    {{data.title}}
                                                                                </a>
                                                                            </li>
                                                                        {{~/subMenu~}}
                                                                    </ul>
                                                                </li>
                                                            {{~/subMenu~}}
                                                        </ul>
                                                    {{~/subMenu~}}
                                                </li>
                                            </ul>
                                        </li>
                                    {{~/subMenu~}}
                                </ul>
                            </li>
                        {{~/subMenu~}}
                    </ul>
                </li>
            {{~/subMenu~}}
        </ul>
    </div>
</div>
